@import "../../theme.scss";

.overview {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Select {
  padding: $spacing;
  min-width: 300px;
}

.titles {
  padding: $spacing;
}

.error {
  margin-right: $spacing * 2;
}

.h2 {
  margin: 0;

}

